<div>
  <div class="form-container col-xs-12">
    <label>{{labelText}}</label>
    <form>
      <div class="row" ng-if="!options.showForm">
        <div class="col-sm-6">
          <button class="btn btn-primary" ng-click="toggleShowForm()">Change your location</button>
        </div>
      </div>
      <div class="row" ng-if="options.showForm">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="City" ng-model="options.address.city">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="options.address.state" placeholder="State" typeahead="state for state in states | filter:$viewValue">
        </div>      
      </div>
      <div class="row">
        <div class="col-sm-2">
          <toggle-switch model="options.plane" html="htmlSwitchStatus" 
            class="switch-medium" on-label="plane" off-label="car">
          <toggle-switch>     
        </div>
        <div class="col-sm-2 col-sm-offset-1">
          <input type="number" class="form-control" ng-model="options.mpg" placeholder="mpg" ng-if="!options.plane">
        </div>
        <div class=" col-sm-3 col-sm-offset-4">
          <button class="btn btn-primary col-xs-12" ng-click="callParentUpdate()">Update</button>
        </div>
      </div>
             
    </form>
  </div>
</div>